@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-image: url(images/bg-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1440px;
    max-width: 100%;
}

.logo {
    margin: 50px 0;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 30px;
}

img {
    width: auto;
}

.principal {
    display: flex;
}

.texto {
    color: whitesmoke;
    margin-left: 40px;
    font-size: 18px;
}

button {
    padding: 20px;
    width: 200px;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
    color: hsl(257, 40%, 49%);
    transition: 0.3s ease-in-out;
}

button:hover {
    background-color: hsl(300, 69%, 71%);
    color: whitesmoke;
    cursor: pointer;
}

.social-medias {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.social-medias a {
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    margin-left: 20px;
    display: inline-flex;
    align-items: center;
    width: 50px;
    height: 50px;
    justify-content: center;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.social-medias a:hover {
    color: hsl(300, 69%, 71%);
    cursor: pointer;
    border: 1px solid hsl(300, 69%, 71%);
}


@media (max-width: 375px) {
    body {
        width: 400px;
        margin: 30px auto;
    }

    .logo {
        width: 180px;
    }

    img {
        max-width: 100%;
    }

    .principal {
        flex-direction: column;
    }

    .texto {
        text-align: center;
        font-size: 16px;
        margin-top: 30px;
    }

    h1 {
        font-size: 25px;
    }

    button {
        width: 80%;
    }

    .social-medias {
        margin-top: 40px;
        justify-content: center;
    }
}